.culture {
	@extend %content__area--dark;

	overflow: hidden;
	position: relative;
	padding-bottom: rem-calc(74);

	&__wrapper {
		@extend %site-wrapper;

		max-width: rem-calc(575);
		padding: rem-calc(54) rem-calc(14) rem-calc(68);

		@include media('>phone') {
			position: relative;
			display: flex;
			align-content: center;
			align-items: center;
			justify-content: space-between;
			max-width: rem-calc(1920);
			padding: rem-calc(60) rem-calc(30) rem-calc(60) rem-calc(120);
		}

		@include media('>tablet') {
			padding: rem-calc(80) rem-calc(60) rem-calc(85) rem-calc(160);
		}

		@include media('>desktop-small') {
			padding: rem-calc(100) rem-calc(80) rem-calc(105) rem-calc(220);
		}

		@include media('>desktop-medium') {
			padding: rem-calc(110) rem-calc(120) rem-calc(115) rem-calc(260);
		}

		@include media('>desktop-large') {
			padding: rem-calc(115) rem-calc(160) rem-calc(125) rem-calc(300);
		}

		@include media('>desktop-xlarge') {
			padding: rem-calc(123) rem-calc(224) rem-calc(135) rem-calc(335);
		}
	}

	&-decoration {
		@extend %text-decoration--right;

		z-index: 2;

		@include media('<=phone') {
			top: 19%;
			right: 99%;
		}

		@include media('<=600px') {
			right: 98%;
		}

		@include media('>phone') {
			top: 20%;
		}

		&__label {
			@extend %text-decoration__label--dark;

			&-inner {
				@extend %text-decoration__label-inner--dark;
			}
		}

		&__number {
			@extend %text-decoration__number--dark;

			@include media('<=phone') {
				color: $color-licorice;
			}
		}
	}
}
